.styled-modal {
  height: 300px;
  position: relative;
  margin: 0 auto;
  top: 10%;
  right: auto;
  bottom: auto;
  width: 320px;
  outline: none;
  display: flex;
  flex-direction: column;
}
.modal-wrapper {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  max-height: 100%;
  height: 100%;
  align-items: center;
  backface-visibility: hidden;
  padding: 1.25rem;
}

.modal-title {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
}

.modal-content {
  flex: 1 1 auto;
  text-align: center;
  font-size: 2rem;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
  flex: 0 0 auto;
  width: 100%;
}

.modal-button {
  background-color: #e6e6e6;
  border: none;
  color: #333;
  padding: 1.2rem 3rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border: 0.2rem solid #6666;
  border-radius: 0.5rem;
}
